<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" ></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./style.css?<%= Math.floor(Math.random() * 10) + 1 %>">

    <style>
        *{
            /*box-sizing: border-box;*/
        }

   /* #classform input{
        
        width: 20vw;
    }
    .inputDiv{
        width: 42vw;
        display: flex;
        flex-flow: row;

    }*/
    
    </style>

</head>

<body>
    

<!--

    <form id="classform" style="height: 50vh; display: flex; flex-flow: column; width: 30vw;">
        <p>
            name
        </p>
        <input type="text" id="name">
        <p>code</p>
        <input type="text" id="classcode">
        completed?
        <input type="checkbox" name="complete" id="completed">
        prereq(s):
        <input type="text" id="prereqs">
        <button type="submit" form="classform">submit</button>

    </form>-->
    <div id="root" class="container-fluid">

    <!--<div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    -->
    </div>





    



    <script src="class.js" type="text/babel"></script>
</body>

</html>