    .classCard{
        border: solid black 2px; 
        /*width: 25%; */
        padding: 1em;
        border-radius: 1em;
       /* margin: .1em !important;*/
       .deletebtn{
           height: 30px;
           opacity: .2;
           cursor: pointer;
           &:hover{
               opacity: 1;
           }
       }
       

    }

    body{
        padding-top: 5vh;
        background-color: beige;
    }
    .deletebtn{
        height: 10px;
    }
    input{
        width: auto;
    }
    .red{
        background-color: rgba(255, 0, 0, 0.699);
    }
    .green{
        background-color: rgba(0, 128, 0, 0.575);
    }
    .blue{
        background-color: rgba(0, 17, 255, 0.699);
    }
    .yellow{
        background-color: rgba(255, 251, 0, 0.692);
    }

    .cardHeader{
       // display: flex;
       // flex-flow: row;
        //justify-content: space-around;
    }

    .incorrect{
        border: red solid 1px;
    }
    .errorMsg{
        //margin-left: 1vw;
        display: flex;
        justify-content: left;
        width: 100%;
        text-align: right;
        color:  #ff0000;
        

    }

    .drop-down{
        //background: rebeccapurple;
        //position: absolute;
        //z-index: 2;
        //border:  1px solid black;
        //border-top: 0px;
        //width: 100%;

        //box-shadow: 2px 2px;
        //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
        &:hover{
            background: skyblue;
        }
    }

    input::-webkit-calendar-picker-indicator {
        display: none;
      }

    .hide{
        display: none;
    }

    input{
        border-radius: 5px;
    }